.no-data {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: fit-content;
  align-items: center;
  justify-content: center;

  img {
    max-width: 200px;
    display: block;
    margin: 20px 0;
  }

  .description {
    font-size: 1.3em;
  }
}
